.eqLogicThumbnailDisplay .eqLogicThumbnailContainer .fas.fa-sign-in-alt.fa-rotate-90 {
    font-size: 38px !important;
    color: #63edc2;
}

.fas.fa-question-circle.tooltips.tooltipstered {
    color: var(--al-info-color) !important;
}

.eqLogicDisplayCard.cursor:hover {
    opacity:.65 !important;
}

.eqLogicDisplayCard.cursor .status-circle {
    font-size:1em !important;
    position:absolute;
    margin-top:35px;
    margin-left:55px;
}

.eqLogicThumbnailDisplay .panel-title {
    background-color: #fbbc04;
    border-radius: 10px;
}

.logoPrimaryGkeep {
    color: #fbbc04;
}

.logoPrimaryGkeep .fas {
    background-color: #fbbc04;
    -webkit-background-clip: text;
}

.logoSecondaryGkeep[id="bt_addgkeep"] {
    color: var(--al-success-color);
}

.logoTrashGkeep[data-action2=all] {
    color: var(--al-danger-color);
}

#accordiongkeep {
    color: white !important;
}
#accordiongkeep:hover {
    opacity: .65
}
.eqLogicThumbnailDisplay i.fas.fa-map-pin.colored,
.eqLogicThumbnailDisplay i.fas.fa-archive.colored {
    color: darkorange;  
}
.eqLogicThumbnailDisplay i.fas.fa-trash.colored {
    color: red;  
}
.eqLogicThumbnailDisplay i.fas.fa-eye.colored,
.eqLogicThumbnailDisplay i.fas.fa-check.colored {
    color: var(--bt-success-color) !important;  
}

.eqLogicThumbnailDisplay span.hiddenAsCard .btn.w30 {
  width: 30px;
}

.eqLogicThumbnailDisplay span.hiddenAsTable {
  z-index: 1;
  position: relative;
}
.eqLogicThumbnailDisplay span.hiddenAsTable i.fas.fa-eye {
  font-size:0.9em !important;
  position:absolute;
  margin-top:22px;
  margin-left:8px;
}
.eqLogicThumbnailDisplay span.hiddenAsTable i.fas.fa-map-pin {
  font-size:0.9em !important;
  position:absolute;
  margin-top:70px;
  margin-left:10px;
}
.eqLogicThumbnailDisplay span.hiddenAsTable i.fas.fa-archive {
  font-size:0.9em !important;
  position:absolute;
  margin-top:70px;
  margin-left:32px;
}
.eqLogicThumbnailDisplay span.hiddenAsTable i.fas.fa-trash {
  font-size:0.9em !important;
  position:absolute;
  margin-top:70px;
  margin-left:58px;
}

.imgColorFilter_ORANGE {
    filter: brightness(111%) contrast(174%) hue-rotate(313deg) saturate(224%);
}
.imgColorFilter_BROWN {
    filter: brightness(73%) contrast(200%) saturate(168%) grayscale(56%);
}
.imgColorFilter_RED {
    filter: brightness(97%) contrast(104%) hue-rotate(306deg) saturate(205%) grayscale(25%);
}
.imgColorFilter_YELLOW {
    filter: brightness(95%) contrast(200%) hue-rotate(360deg) saturate(300%) grayscale(28%);
}
.imgColorFilter_GREEN {
    filter: brightness(89%) contrast(161%) hue-rotate(39deg) saturate(158%) grayscale(41%);
}
.imgColorFilter_PINK {
    filter: brightness(115%) contrast(168%) hue-rotate(218deg) saturate(158%) grayscale(53%);
}
.imgColorFilter_PURPLE {
    filter: brightness(117%) contrast(139%) hue-rotate(253deg) saturate(250%) grayscale(53%);
}
.imgColorFilter_BLUE {
    filter: brightness(113%) contrast(105%) hue-rotate(174deg) saturate(169%) grayscale(58%);
}
.imgColorFilter_GRAY {
    filter: brightness(113%) saturate(0%) grayscale(100%);
}
.imgColorFilter_CERULEAN {
    filter: filter: brightness(99%) contrast(84%) hue-rotate(184deg) saturate(55%) grayscale(1%) ;
}
.imgColorFilter_TEAL {
    filter: brightness(117%) contrast(117%) hue-rotate(136deg) saturate(65%) grayscale(44%);
}